# Copia este archivo como ".env" y completa con tus datos reales
# En la VM, este archivo NO se sube a GitHub (ver .gitignore)

DB_HOST=localhost
DB_USER=todo_app
DB_PASSWORD=Sugge2005!l
DB_NAME=todolist_db
PORT=3000
